* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  min-height: 100vh;
}

body {
  color: white;
  padding: 20px;
  width: 100%;
  max-width: 800px;
  height: 100%;
  margin: 0 auto;
  font-size: 1.4rem;
  background: url("../icons/bg-animated.svg") center/cover no-repeat;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  margin-bottom: 20px;
}

.title {
  font-size: 6rem;
  background: linear-gradient(to right, rgb(222, 205, 255), rgb(0, 230, 150));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav {
  position: relative;
  left: -7px;
}

hr {
  margin-bottom: 20px;
  border-color: rgb(161, 132, 220);
}

.nav-link {
  padding: 0;
  margin: 8px;
  color: rgb(198, 174, 255);
  font-size: 1.8rem;
  font-weight: 400;
  padding: 3px 8px;
  border-radius: 8px;
  font-weight: bold;
}

.nav-link.username {
  display: inline-block;
  margin-left: -3px;
}

.nav-link.credentials {
  display: inline-block;
  margin: 0px;
  font-size: 1.4rem;
}

.nav .nav-item:first-child .nav-link {
  margin-left: 0;
}

.nav-link:hover {
  background: linear-gradient(to right, rgb(211, 192, 255), rgb(238, 231, 255));
  color: rgb(90, 62, 156);
}

.nav-link:active,
.nav-link:focus {
  background: linear-gradient(to right, rgb(226, 213, 255), rgb(239, 235, 250));
  color: rgb(102, 78, 159);
}

h2 {
  margin-bottom: 20px;
}

ul {
  list-style: none;
}

.label {
  font-size: 1.4rem;
}

.label--required::after {
  content: "*";
  margin-left: 2px;
  color: rgb(255, 109, 109);
}

.listing__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  padding-bottom: 30px;
  border: 1px solid rgba(128, 128, 128, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  margin: 8px 0;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.listing__item:hover {
  color: white;
  text-decoration: none;
  background-color: rgba(27, 0, 125, 0.25);
  border: 1px solid rgba(128, 128, 128, 0.3);
}

.listing__item:active {
  background-color: rgba(128, 128, 128, 0.15);
  border: 1px solid rgba(128, 128, 128, 0.5);
}

.listing__item.just-created {
  animation: item-added-bg 3s linear 1;
}

.listing-closed-bg {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  cursor: pointer;
}

.new-toast {
  position: absolute;
  top: -15px;
  left: calc(50% - 40px);
  display: inline-block;
  width: 80px;
  height: 30px;
  padding: 5px 10px;
  border-radius: 3px;
  font-weight: bold;
  text-align: center;
  line-height: 18px;
  vertical-align: middle;
  color: rgb(255, 126, 126);
  background-color: rgb(255, 255, 184);
  border: 1px solid rgb(192, 196, 161);
  animation: toast-fade 1.5s 1s linear forwards;
}

@keyframes item-added-bg {
  0% {
    background-color: rgba(227, 227, 227, 0.5);
  }
  100% {
    background-color: rgba(128, 128, 128, 0.075);
  }
}

@keyframes toast-fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.listing__img {
  width: 100%;
  max-width: 220px;
  margin: 10px;
}

@media screen and (min-width: 450px) {
  .title-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .title {
    font-size: 7rem;
  }

  .listing__item {
    flex-direction: row;
    align-items: flex-start;
    min-height: 242px;
    padding: 25px 10px;
  }
  .listing__img {
    margin: 0 20px;
  }
}

@media screen and (min-width: 550px) {
  .listing__img {
    margin: 0 40px 0 20px;
  }
}

.listing__title {
  margin: 20px 0;
  font-size: 2rem;
}

.listing__price {
  font-weight: bold;
}

.listing__date {
  color: grey;
  font-size: 1.2rem;
}

.form-group {
  margin-bottom: 20px;
}

.form-group.bid,
.form-group.category {
  max-width: 220px;
}

.form-control {
  border: 1px solid grey !important;
  outline: none !important;
  transition: all 0.1s !important;
  font-size: 1.3rem;
}

.form-control:active,
.form-control:focus {
  border: 1px solid rgb(147, 103, 252) !important;
  outline: 2px solid rgb(207, 187, 255) !important;
}

.btn {
  color: white !important;
  background-color: rgb(144, 110, 223);
  border: 1px solid rgb(189, 173, 227) !important;
  outline: none !important;
  transition: all 0.1s !important;
  font-size: 1.4rem;
}

.btn:hover {
  background-color: rgb(120, 86, 198);
  border-color: rgb(81, 63, 125);
}

.btn:active,
.btn:focus {
  color: white;
  background-color: rgb(198, 173, 255) !important;
  border-color: rgb(163, 154, 187) !important;
  outline: 2px solid rgb(227, 215, 254) !important;
}

.btn.bid {
  display: block;
  margin: 10px 0;
  margin-bottom: -10px;
}

.btn.watchlist {
  color: white;
}

.btn.get-bids {
  display: inline-flex;
  align-items: center;
  position: relative;
  top: -5px;
  background-color: white;
  border-color: black;
  color: black !important;
  border-radius: 4px;
}

.btn.get-bids:hover {
  background-color: rgb(226, 226, 226);
}

.btn.get-bids:active,
.btn.get-bids:focus {
  background-color: rgb(242, 242, 242) !important;
  outline: 2px solid rgb(244, 244, 244) !important;
}

@keyframes refresh-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.btn.get-bids:hover .refresh-icon {
  animation: refresh-rotate 1s linear infinite;
}

.refresh-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 4px;
  background: url("../icons/refresh.svg") center/cover no-repeat;
}

a:hover {
  text-decoration: none;
}

.btn.watchlist.remove {
  background-color: rgb(112, 92, 163);
  border-color: rgb(84, 71, 117);
}

.btn.watchlist.remove:hover {
  background-color: rgb(154, 138, 194);
  border-color: rgb(84, 71, 117);
}

.btn.close-listing {
  margin-left: 10px;
  background-color: rgb(255, 144, 144);
  border-color: rgb(255, 0, 0);
}

.btn.close-listing:hover {
  background-color: rgb(254, 121, 121);
  border-color: rgb(211, 0, 0);
}

.btn.close-listing:active,
.btn.close-listing:focus {
  background-color: rgb(255, 162, 162) !important;
  border-color: rgb(255, 17, 17) !important;
  outline: 2px solid rgb(255, 195, 195) !important;
}

.btn.delete-listing {
  margin-left: 10px;
  background-color: rgb(219, 69, 69);
  border-color: rgb(255, 0, 0) !important;
}

.btn.delete-listing:hover {
  background-color: rgb(146, 26, 26);
}

.btn.comment {
  display: block !important;
}

.disabled {
  margin-left: 10px;
  background-color: rgb(164, 164, 164) !important;
  border-color: rgb(10, 10, 10) !important;
  color: rgb(255, 255, 255) !important;
  cursor: default !important;
}

.disabled.disabled:active,
.disabled.disabled:focus {
  background-color: rgb(164, 164, 164) !important;
  border-color: rgb(77, 77, 77) !important;
  color: rgb(255, 255, 255) !important;
  outline: none !important;
}

.listing-section {
  position: relative;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.15);
}

.listing-info {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 600px) {
  .listing-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .listing-info__secondary {
    width: 100%;
    max-width: 400px;
    margin-top: 50px;
    margin-left: 15px;
  }
}

.badge {
  display: inline-block;
  padding: 3px 6px;
  font-size: 1rem;
  background-color: rgb(136, 101, 215);
  color: white;
  border-radius: 2px;
}

.badge--user-listing {
  left: 65px;
  background-color: rgb(255, 208, 137);
  color: black;
}

.badge--is-closed {
  background-color: rgb(143, 143, 143);
}

.badge--is-winner {
  background-color: rgb(209, 255, 124);
  color: black;
}

.listing-chips {
  position: absolute;
  top: 3px;
  left: 7px;
  z-index: 3;
}

.chips {
  position: absolute;
  top: 55px;
  left: 15px;
}

.listing-item__img {
  width: 100%;
  min-width: 275px;
  max-width: 400px;
  margin-bottom: 30px;
}

.listing-item__price {
  display: inline-block;
  font-size: 2.4rem;
  font-weight: bold;
  margin: 20px 0;
  animation: price-shows 1s linear forwards;
  margin-right: 20px;
}

@keyframes price-shows {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.current_bid-msg {
  color: rgb(80, 206, 22);
  font-weight: bold;
}

.input-bid {
  font-size: 1.2rem;
}

.details-container {
  margin: 30px 0;
}

.listing-item__details {
  margin: 20px 0;
  margin-bottom: 0px;
}

.listing-item__details-list {
  list-style: initial;
  margin-left: 35px;
  list-style-type: square;
}

.listing-item__details-list li {
  height: 39px;
}

.listing__seller {
  margin-left: 11px;
}

.form-comments {
  margin: 20px 0 30px 0;
}

.comment-item {
  margin: 10px 0;
  padding: 20px;
  padding-top: 15px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.comment-author {
  margin-bottom: 4px;
  font-weight: bold;
}

.comment-date-icon {
  position: relative;
  top: 2px;
  left: -5px;
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url("../icons/clock.svg") center/cover no-repeat;
  filter: invert(72%) sepia(0%) saturate(0%) hue-rotate(227deg) brightness(93%)
    contrast(93%);
}

.comment-date {
  color: #a7a7a7;
  font-size: 1.1rem;
  font-weight: 500;
  margin-left: 5px;
}

.user-comment-input {
  max-width: 500px;
  margin-bottom: 10px;
}

.message {
  display: inline-block;
  padding: 3px 10px;
  margin-top: 10px;
  margin-bottom: 0;
  color: rgb(255, 79, 79);
  background-color: rgb(255, 201, 201);
  border-radius: 3px;
  border: 1px solid rgb(255, 79, 79);
  animation: message-fade 3.5s linear forwards;
}

@keyframes message-fade {
  0% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

.message--success {
  color: rgb(0, 112, 17);
  background-color: rgb(157, 255, 172);
  border: 1px solid rgb(0, 196, 29);
}

.message--info {
  color: rgb(0, 75, 112);
  background-color: rgb(131, 214, 255);
  border: 1px solid rgb(0, 136, 204);
}

.message--warning {
  margin-top: 0px;
  margin-bottom: 10px;
}

@keyframes message-winner {
  0% {
    background-color: rgb(187, 255, 61);
  }
  100% {
    background-color: rgb(245, 255, 224);
  }
}

.message--winner {
  padding: 5px 15px;
  margin: 20px 0;
  color: black;
  border: 1px solid black;
  animation: message-winner 2s ease-in-out infinite alternate;
}

.credentials-redirect {
  margin-top: 10px;
}

.categories {
  display: inline-block;
  padding: 10px 15px;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 3px;
}

.categories li {
  display: inline-block;
}

.category {
  display: inline-block;
  padding: 3px 8px;
  margin: 7px;
  border-radius: 3px;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.15s linear;
  text-decoration: none;
}
.category:hover {
  text-decoration: none;
}
.category:active {
  filter: brightness(90%);
}

.category--Art {
  color: rgb(105, 104, 0);
  background-color: rgb(255, 254, 174);
  border: 1px solid rgb(251, 247, 0);
}
.category--Art:hover {
  color: rgb(80, 79, 0);
  background-color: rgb(255, 251, 15);
}

.category--Electronics {
  color: rgb(0, 96, 85);
  background-color: rgb(165, 255, 245);
  border: 1px solid rgb(0, 255, 225);
}
.category--Electronics:hover {
  color: rgb(0, 73, 65);
  background-color: rgb(54, 234, 213);
}

.category--Fashion {
  color: rgb(133, 1, 185);
  background-color: rgb(231, 172, 255);
  border: 1px solid rgb(183, 0, 255);
}
.category--Fashion:hover {
  color: rgb(63, 0, 88);
  background-color: rgb(210, 96, 255);
}

.category--Home {
  color: rgb(137, 91, 0);
  background-color: rgb(255, 231, 183);
  border: 1px solid rgb(255, 170, 0);
}
.category--Home:hover {
  color: rgb(91, 61, 0);
  background-color: rgb(255, 185, 44);
}

.category--Vehicles {
  color: rgb(0, 77, 177);
  background-color: rgb(175, 209, 255);
  border: 1px solid rgb(0, 110, 255);
}
.category--Vehicles:hover {
  color: rgb(0, 36, 84);
  background-color: rgb(104, 167, 255);
}

.confirm-delete-modal {
  display: none;
  top: 0;
  left: 0;
  z-index: 4;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.487);
}
.confirm-delete-modal.show {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirm-buttons {
  padding: 30px;
  border-radius: 6px;
  text-align: center;
  color: rgb(107, 32, 255);
  font-size: 1.6rem;
  font-weight: bold;
  background-color: white;
}

.confirm-buttons p {
  margin-bottom: 20px;
}

.confirm-buttons-container {
  display: flex;
  justify-content: space-around;
}

.confirm-buttons .confirm-buttons-container button {
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
}
